		<div class="container">
			<div class="row">
				<div class="col-md-11">
					<% if @welcome_external_books.count > 0 %>
						<h3 class="pseudo_border" style="padding-left: 11px;">Recently Uploaded Books</h3>
					<%end%>
				</div>
				<div class="col-md-1">
					<!-- < if @external_books.count >= 4 %>
						<a href="<%= see_all_external_books_path %>" style="line-height: 50px;">See All</a>
					<end%> -->
				</div>
			</div>
			<% if @welcome_external_books.count <= 4 %>
				<div class="ext_books_scroller" data-slick='{"slidesToShow": <%=  @welcome_external_books.count %>}'>
			<%else%>
				<div class="ext_books_scroller">
			<%end%>
				<% @welcome_external_books.each do |welcome_external_book| %>
					<div class="col-md-3 mb-3">
						<a href="<%= login_path %>" style="text-decoration: none;" class="link-color">

							<div class="flip-card">
							  <div class="flip-card-inner">
							    <div class="flip-card-front">
							      <%= image_tag welcome_external_book.get_default_image_for_index_page,class: '', height: '320' ,width: '240' %>
							    </div>
							    <div class="flip-card-back">
							      <h3 title="<%= welcome_external_book.book_name %>"><%= truncate(welcome_external_book.book_name, length:15) %><br><%= "(" << welcome_external_book.category.try(:name) << ")"  %></h3> 
							      <p><%= welcome_external_book.user.name %></p> 
							      <p><%=  welcome_external_book.location_formating %></p>
							      <div class="card-footer" style="top: 85px;position: relative;">
								    	<div class="row">
								    		<div class="col-md-4">
										    	<%= link_to "" do %>
													  <i class="far fa-heart" style="color: #212529;"></i>
													<% end %>
												</div>
												<div class="col-md-3">
													
												</div>
												<div class="col-md-5">
								      		<span style="color: #212529;margin-right: 2px;"><i class="fas fa-rupee-sign"></i> <%= welcome_external_book.price %></span>
								      	</div>
						      		</div>
						    		</div>
							  	</div> 
					    	</div>
							</div>
							
						</a>
					</div>
				<%end%>
			</div>
		</div>
	</div><br>


	<div class="container">
	  <div class="jumbotron">
	  	<center>
		    <h3>Are you a Book<font color="green">Worm</font> looking to read variety of Books <%= link_to '<button type="button" class="btn btn-outline-primary">Join Now</button>'.html_safe, sign_up_path %></h3>
	  	</center>
	  </div> 
	</div>

	<br><br>