<div class="container">
  <div class="row mb-2">
  	<% if @books.count > 0 %>
	  	<% if params[:book_name].blank? && params[:category].blank? && params[:city].blank? %>
	  		<h3 class="pseudo_border" style="padding-left: 11px;">Search Results for all Books</h3>
	  	<%else%>
	  		<h3 class="pseudo_border" style="padding-left: 11px;">Search Results for</h3><h6 style="line-height: 46px;"><%= '('  'Book Name:' + params[:book_name] + ',' + "Category:" + params[:category] + ',' + 'City:' + params[:city] + ')' %></h6>
	  	<%end%>
  	<%end%>
  	<%  @books.each do |book| %>
	    <div class="col-md-12">
	      <div class="card flex-md-row mb-4 box-shadow h-md-250 index-page-cards">
	      	<a href="<%= request_book_details_path(book) %>" style="text-decoration: none;">
          <img class="img-fluid img-thumbnail" style="height: 240px;width: 180px;margin: 15px;" src="<%= book.get_default_image_for_index_page%>" alt=""></a>
	        <div class="card-body d-flex flex-column align-items-start">
	          <h4 class="mb-0">
	          	<%= truncate(book.book_name, length: 30) %>
	          </h4>
	          <!-- <div class="mb-1 text-muted"><= book.user.first_name %> <%= book.user.last_name %></div> -->
	          <p>Category:<%= book.category.try(:name) %></p>
	          <p>Location:<%= book.location_formating %></p>
	          <p><%= truncate(book.description, length: 105) %></p>
	          <p class="mb-1 text-muted">by <a><%= book.user.name %></a>, <%= book.created_at %></p>
	          <p display-label><i class="fas fa-rupee-sign"></i> <%= book.price %></p>
	          <a href="<%= request_book_details_path(book) %>" class="btn btn-success view-details-btn"><i class="fas fa-eye"></i> View Details</a>
	        </div>
	      </div>
	      <!-- <hr> -->
	    </div>
    <%end%>
  </div>
  <% if @books.count == 0 %>
	  <div id="no-result-found">
			<h1>Sorry No Result Found :/</h1>
		</div>
	<%end%>
</div><br>
<div class="digg_pagination" style="float:right;">
	<%= will_paginate @books %>
</div>
<br><br>