<br>
<div class="container">
	<%if flash[:error]%>
		<div class="error_messages alert alert-danger"><%= flash[:error] %></div>
	<% end %>
	<%if flash[:success]%>
		<div class="error_messages alert alert-success"><%= flash[:success] %></div>
	<% end %>
    <div class="span3 new-profile-well">
        <center>
	        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><%= image_tag @user.profile_pic.present? ? @user.profile_pic.url(:thumb) : "default-profile-image.png",class: 'avatar img-circle profile-front-page-image' %><%= @user.edit_profile_complete_status_front(session[:user_id]).html_safe %></i></a>
	        <h3 style="padding-top: 10px;font-size: 24px;"><%= @user.name %></h3>
	        <em>Click on Profile pic for more detail</em>
		</center>
    </div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content edit-profile-modal-content">
	            <!-- Modal Header -->
	            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-size: 18px;padding-right: 247px;">More About <%= @user.first_name %></h4>
                </div>
	            
	            <!-- Modal Body -->
	            <div class="modal-body">
	            	<%= form_for @user, :url => update_profile_path, method: "post", html:{role: 'form', multipart: 'true',id: 'edit_profile_form'}  do |f| %>
		            	<center>
                  	<%= image_tag @user.profile_pic.present? ? @user.profile_pic.url(:thumb) : "default-profile-image.png",class: 'avatar img-circle', height: '140',width:'140' %><%= @user.edit_profile_complete_status_modal(session[:user_id]).html_safe %></i><br>
                  	 <%= f.file_field :profile_pic,style: 'position:absolute;left: 268px;top: 161px;' %>
                  	 <h3 style="padding-top: 10px;font-size: 24px;" class=""><%= @user.name %>,<small style="font-size: 65%;"><%= @user.user_location_formating %></small></h3>
                  	<input type="file" id="image_upload_dialog" name="user[profile_pic]" style="display: none;" accept="image/x-png,image/gif,image/jpeg" />
               		</center>
               		<% if !@user.check_profile_complete_status(session[:user_id]) %>
	            			<center>
	            				<font color="#F8304D">Profile is incomplete,please complete it fast by filling all manadatory fields.</font>
	            			</center>
	            		<%else%>
	            		<%end%>
	               		<hr>
                		<div class="form-row">
									    <div class="form-group col-md-6">
									      	<label>First Name</label><font color="#F8304D">*</font>
									      	<%= f.text_field :first_name, {class: 'form-control'}  %>
									    </div>
									    <div class="form-group col-md-6">
									      	<label>Last Name</label><font color="#F8304D">*</font>
									      	<%= f.text_field :last_name, {class: 'form-control'}  %>
									    </div>
										</div>

										<div class="form-row">
									    <div class="form-group col-md-4">
									      	<label>Country</label><font color="#F8304D">*</font>
									      	<%= f.text_field :country_field, {class: 'form-control'}  %>
									    </div>
									    <div class="form-group col-md-4">
									      	<label>State</label><font color="#F8304D">*</font>
									      	<%= f.text_field :state, {class: 'form-control'}  %>
									    </div>
									    <div class="form-group col-md-4">
									      	<label>City</label><font color="#F8304D">*</font>
									      	<%= f.text_field :city, {class: 'form-control'}  %>
									    </div>
										</div>

										<div class="form-group">
								    		<label>About Yourself</label><font color="#F8304D">*</font>
								      	<%= f.text_area :about_yourself, {class: 'form-control',:placeholder => "Describe in detail more about yourself and the book you provide."}  %>
								  	</div>

										<div class="form-row">
									    <div class="form-group col-md-6">
								      	<%= f.label :pincode, 'Pincode'  %>
								      	<%= f.text_field :pincode, {class: 'form-control'}  %>
									    </div>
									    <div class="form-group col-md-6">
								      	<%= f.label :email, 'Email'  %>
							      		<%= f.text_field :email, {class: 'form-control',disabled: true}  %>
								    	</div>
										</div>

								  	<div class="form-group">
								    	<%= f.label :address, 'Address'  %>
								      	<%= f.text_area :address, {class: 'form-control'}  %>
								  	</div>
							    <div class="form-row">
								    <div class="form-group col-md-12">
								     	<%= f.label :phoneno, 'Phone No' %>
							      		<%= f.text_field :phoneno, {class: 'form-control'}  %>
								    </div>
								    
							    </div>
					  
	            	</div>
	            
		            <!-- Modal Footer -->
		            <div class="modal-footer" style="padding-right: 294px;">
		            	<center>
                  		<input class="btn btn-default" name="commit" type="submit" value="Update Profile">
                  	</center>
	            	</div>
            <%end%>  
	        </div>
	    </div>
	</div>
</div><br><br><br>