  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-5">

<!--         <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1> -->

       <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Inbox</h5>
            <div class="card-body message-inbox" style="padding: 0px !important;">
              <ul style="max-width: 397px !important;list-style-type: none;margin: 0;padding-left:0;">
              	<% @HostBookMessages.each do |host_book_message| %>
								  <li >
								  	<a target="" href="<%=host_book_chat_path(host_book_message.book_request_id)%>" class="message-inbox-link host-book-inbox-link">
									  	<div class="row message-inbox-image">
									  		<div class="col-md-2">
									    		<%= image_tag "images",class: ' rounded-circle profile-pic-thumbnail',style: 'margin-left:19px;' %>
									    	</div>
									    	<div class="col-md-10">
									    		<p>Message:<%=host_book_message.message_description%></p>
									    		<p>Sender:Host</p>
									    	</div>
						    			</div>
						    		</a>
					    		</li><hr class="inbox">
					    	<%end%>
					    	<% @UserBookMessages.each do |user_book_message| %>
								  <li >
								  	<a target="" href="<%=user_book_chat_path(user_book_message.book_request_id)%>" class="message-inbox-link user-book-inbox-link">
									  	<div class="row message-inbox-image">
									  		<div class="col-md-2">
									    		<%= image_tag "images",class: ' rounded-circle profile-pic-thumbnail',style: 'margin-left:19px;' %>
									    	</div>
									    	<div class="col-md-10">
									    		<p>Message:<%=user_book_message.message_description%></p>
									    		<p>Sender:User</p>
									    	</div>
						    			</div>
						    		</a>
					    		</li><hr class="inbox">
					    	<%end%>
							</ul>
            </div>
          </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-7" id="#section7">

        <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Messages</h5>
            <div class="card-body message-box">
            	<div class="msg-box">
				        <img class="msg-box-loader" style="display:none;" src="https://www.drupal.org/files/loading.gif "/>
<!-- 	              <div class="talk-bubble tri-right left-top" style="background-color:#f0f0f0;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-right left-top" style="background-color:#f0f0f0;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div> -->
							</div>
            </div>
            <div class="card-footer">
				      <div class="form-group">
	    					<%= text_area_tag :message,"", class: 'form-control', placeholder: 'Type your message...'  %>
	  					</div>
	  					<div class="form-group">
	    					<input class="btn btn-default" name="commit" type="submit" value="Send">
	  					</div>
				    </div>
          </div>

      </div>

    </div>
    <!-- /.row -->


  </div>
  <!-- /.container -->