    
    <div class="container">

	    <div class="row">
	     <!-- Sidebar Widgets Column -->
	      <div class="col-md-7 id="#section7">

	        <!-- Search Widget -->
	          <div class="card my-4">
	            <h5 class="card-header">Messages</h5>
	            <div class="card-body message-box">
	              <div class="talk-bubble tri-right left-top" style="background-color:#f0f0f0;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-right left-top" style="background-color:#f0f0f0;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
								<div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
								  <div class="talktext">
								    <p>This one adds a right triangle on the left, flush at the top by using .tri-right and .left-top to specify the location.</p>
								  </div>
								</div>
	            </div>
	            <div class="card-footer">
					      <div class="form-group">
		    					<%= text_area_tag :message,"", class: 'form-control', placeholder: 'Type your message...'  %>
		  					</div>
		  					<div class="form-group">
		    					<input class="btn btn-default" name="commit" type="submit" value="Send">
		  					</div>
					    </div>
	          </div>

	      </div>

	    </div>

	  </div>