  <div class="container">
	<% if session[:user_id].present? %>

      <%if flash[:error]%>
        <div class="error_messages alert alert-danger"><%= flash[:error] %></div>
      <% end %>
      <%if flash[:success]%>
        <div class="error_messages alert alert-success"><%= flash[:success] %></div>
      <% end %>

		  <% content_for :head do %>
			  <meta name="turbolinks-cache-control" content="no-cache">
			<% end %>

			<div class="row">
				<div class="col-md-11">
					<% if @my_books.count > 0 %>
						<h3 class="pseudo_border" style="padding-left: 11px;">My Books</h3>
					<%end%>
				</div>
				<div class="col-md-1">
					<% if @my_books.count >= 4 %>
						<a class="link-color" href="<%= see_all_books_path %>"><h4 style="font-size: 19px;line-height:57px;">See All</h4></a>
					<%end%>
				</div>
			</div>
			<% if @my_books.count <= 4 %>
				<div class="my_books_scroller" data-slick='{"slidesToShow": <%=  @my_books.count %>}'>
			<%else%>
				<div class="my_books_scroller">
			<%end%>
				<% @my_books.each do |my_book| %>
					<div class="col-md-3 mb-3">
						<a href="<%= book_detail_page_path(my_book) %>" style="text-decoration: none;" class="link-color">

							<div class="flip-card">
							  <div class="flip-card-inner">
							    <div class="flip-card-front">
							      <%= image_tag my_book.get_default_image_for_index_page,class: '', height: '320' ,width: '240' %>
							    </div>
							    <div class="flip-card-back">
							      <h3 title="<%= my_book.book_name %>"><%= truncate(my_book.book_name, length:13) %><br><%= "(" << my_book.category.try(:name) << ")"  %></h3> 
							      <p><%= my_book.user.name %></p> 
							      <p><%=  my_book.location_formating %></p>
							      <p><%=  my_book.availability_status %></p>
							      <div class="card-footer" style="top: 45px;position: relative;">
								    	<div class="row">
								    		<div class="col-md-4">
										    	<%= link_to edit_book_path(my_book) do %>
													  <i title="Edit" class="far fa-edit" style="color: #212529;"></i>
													<% end %>
												</div>
												<div class="col-md-3">
													<% if my_book.book_requested_before == false %>
														<a title="Delete" href="<%=delete_book_path(my_book)%>" onclick="return confirm('Are you sure you want to delete this book?');"><i class="fa far fa-trash-alt" aria-hidden="true" style="color: #212529;"></i></a>	  
													<%end%>
												</div>
												<div class="col-md-5">
								      		<span style="color: #212529;margin-right: 2px;"><i class="fas fa-rupee-sign"></i> <%= my_book.price %></span>
								      	</div>
							      	</div>
						    		</div>
							  	</div> 
					    	</div>
							</div>

						</a>
					</div>
				<%end%>
			</div>
		</div><br>

		

		<div class="container">
			<div class="row">
				<div class="col-md-11">
					<% if @external_books.count > 0 %>
						<h3 class="pseudo_border" style="padding-left: 11px;">Recently Uploaded Books</h3>
					<%end%>
				</div>
				<div class="col-md-1">
					<% if @external_books.count >= 4 %>
						<a class="link-color" href="<%= see_all_external_books_path %>" style="line-height: 50px;"><h4 style="font-size: 19px;line-height:57px;">See All</h4></a>
					<%end%>
				</div>
			</div>
<!-- 			<button style="" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
			  <i class="fas fa-chevron-left"></i>
			</button> -->
			<% if @external_books.count <= 4 %>
				<div class="ext_books_scroller" data-slick='{"slidesToShow": <%=  @external_books.count %>}'>
			<%else%>
				<div class="ext_books_scroller">
			<%end%>
				<% @external_books.each do |external_book| %>
					<div class="col-md-3 mb-3">
						<a href="<%= request_book_details_path(external_book) %>" style="text-decoration: none;" class="link-color">

							<div class="flip-card">
							  <div class="flip-card-inner">
							    <div class="flip-card-front">
							      <%= image_tag external_book.get_default_image_for_index_page,class: '', height: '320' ,width: '240' %>
							    </div>
							    <div class="flip-card-back">
							      <h3 title="<%= external_book.book_name %>"><%= truncate(external_book.book_name, length:13) %><br><%= "(" << external_book.category.try(:name) << ")"  %></h3>
							      <p><%= external_book.user.name %></p> 
							      <p><%=  external_book.location_formating %></p>
							      <div class="card-footer" style="top: 74px;position: relative;">
								    	<div class="row">
								    		<div class="col-md-4">
										    	<%= link_to "" do %>
													  <i class="far fa-heart" style="color: #212529;"></i>
													<% end %>
												</div>
												<div class="col-md-3">
													
												</div>
												<div class="col-md-5">
								      		<span style="color: #212529;margin-right: 2px;"><i class="fas fa-rupee-sign"></i> <%= external_book.price %></span>
								      	</div>
						      		</div>
						    		</div>
							  	</div> 
					    	</div>
							</div>

						</a>
					</div>
				<%end%>
			</div>
		</div>
	</div>

	</div>

		<% if @my_books.count > 4 %>
			<button style="" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mybooks-left">
			  <i class="fas fa-chevron-left"></i>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mybooks-right">
			  <i class="fas fa-chevron-right"></i>
			</button>
		<%end%>

	<%end%>

	<br><br><br>