
				<img class="dynamic-msg-box-loader" style="display:none;" src="<%=asset_path('loading.gif')%>"/>
  		<!-- <div class="card notification-card"> -->
				<div class="card my-4 inbox-notification-card" id="dynamic-inbox-notify-card" style="display: none;">
				  <div class="card-header" style="width:425px;height:35px;padding-bottom:27px;background:#F5F5F5;">
			    	Inbox <a href="#"><i class="fas fa-history" title="Click here to View Entire Chat History" style="float: right;color: black;"></i></a>
			  	</div>
					<div class="list-group list-special-inbox">
						<% @HostDynamicBookMessages.each do |host_dynamic_book_message| %>
					  <div class="list-group-item list-group-item-action" style="height: 96px;">
					  	<div class="row">
					  		<div class="col-md-2">
					    		<%= image_tag "images",class: 'rounded-circle profile-pic-thumbnail' %>
					    		<!-- <i class="fas fa-star" title="Mark as important" style="margin-left: 10px;margin-top: 10px;"></i> -->
					    	</div>
					    	<div class="col-md-10">
					    		<a class="message-inbox-link host-book-inbox-link" href="host_book_chat.<%= host_dynamic_book_message.book_request_id %>?sender=host" style="text-decoration: none;color: #495057;">
						    		<p style="float: right;" class="msg-inbox-time" title="<%=host_dynamic_book_message.created_at%>"><%= time_ago_in_words(host_dynamic_book_message.created_at) + ' ago' %></p>
						    		<p style="margin:0;" title="<%=host_dynamic_book_message.book_request.book.book_name%>"><%=host_dynamic_book_message.book_request_sender_type(session[:user_id]).html_safe%> Book: <%=truncate(host_dynamic_book_message.book_request.book.book_name, length:12)%></p>
						    		<p style="margin:0;">Customer: <%=host_dynamic_book_message.book_request.user.first_name%> <%=host_dynamic_book_message.book_request.user.last_name%></p>
						    		<p style="margin:0;"><%=truncate(host_dynamic_book_message.message_description, length:20)%></p>
						    		Dyn-Host
					    		</a>
					    		<a class="starred" style="display: none;" href="<%=unmark_as_important_path(id: host_dynamic_book_message.book_request_id,sender: 'host')%>">
					    			<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
					    		</a>
					    		<a class="unstarred" href="<%=mark_as_important_path(id: host_dynamic_book_message.book_request_id,sender: 'host')%>">
					    			<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: black;"></i>
					    		</a>
					    		<% if host_dynamic_book_message.book_request.mark_as_important_host == true %>
					    		<!-- <div id="customised-popover" style="display:none;float: right;margin-bottom: -66px;background: white;">
							      <p style="margin:10px;">
							        Mark as Important
							      </p>
					       	</div> -->
					    			<a class="starred" href="<%=unmark_as_important_path(id: host_dynamic_book_message.book_request_id,sender: 'host')%>">
					    				<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
					    			</a>
					    		<%else%>
					    			<a class="unstarred" href="<%=mark_as_important_path(id: host_dynamic_book_message.book_request_id,sender: 'host')%>">
					    				<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: black;"></i>
					    			</a>
					    		<%end%>
					    		<!-- <i class="fas fa-ban" style="float: right;margin-top: -24px;"></i> -->
					    		<!-- <p style="margin:0;">Sender: Host</p> -->
					    	</div>
					    </div>
					  </div>
					  <%end%>
					  <% @UserDynamicBookMessages.each do |user_dynamic_book_message| %>
					  <div class="list-group-item list-group-item-action" style="height: 96px;">
					  	<div class="row">
					  		<div class="col-md-2">
					    		<%= image_tag "images",class: 'rounded-circle profile-pic-thumbnail' %>
					    		<!-- <i class="fas fa-star" title="Mark as important" style="margin-left: 10px;margin-top: 10px;"></i> -->
					    	</div>
					    	<div class="col-md-10">
					    		<a class="message-inbox-link user-book-inbox-link" href="user_book_chat.<%= user_dynamic_book_message.book_request_id %>?sender=user" style="text-decoration: none;color: #495057;">
						    		<p style="float: right;" class="msg-inbox-time" title="<%=user_dynamic_book_message.created_at%>"><%= time_ago_in_words(user_dynamic_book_message.created_at) + ' ago' %></p>
						    		<p style="margin:0;" title="<%=user_dynamic_book_message.book_request.book.book_name%>"><%=user_dynamic_book_message.book_request_sender_type(session[:user_id]).html_safe%> Book: <%=truncate(user_dynamic_book_message.book_request.book.book_name, length:12)%></p>
						    		<p style="margin:0;">Provider: <%=user_dynamic_book_message.book_request.book.user.first_name%> <%=user_dynamic_book_message.book_request.book.user.last_name%></p>
						    		<p style="margin:0;"><%=truncate(user_dynamic_book_message.message_description, length:20)%></p>
						    		Dyn-User
						    	</a>
					    		<a class="starred" style="display: none;" href="<%=unmark_as_important_path(id: user_dynamic_book_message.book_request_id,sender: 'user')%>">
					    			<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
					    		</a>
					    		<a class="unstarred" href="<%=mark_as_important_path(id: user_dynamic_book_message.book_request_id,sender: 'user')%>">
					    			<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: black;"></i>
					    		</a>
					    		<% if user_dynamic_book_message.book_request.mark_as_important_user == true %>
					    		<!-- <div id="customised-popover" style="display:none;float: right;margin-bottom: -66px;background: white;">
							      <p style="margin:10px;">
							        Mark as Important
							      </p>
					       	</div> -->
					    			<a class="starred" href="<%=unmark_as_important_path(id: user_dynamic_book_message.book_request_id,sender: 'user')%>">
					    				<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
					    			</a>
					    		<%else%>
					    			<a class="unstarred" href="<%=mark_as_important_path(id: user_dynamic_book_message.book_request_id,sender: 'user')%>">
					    				<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: black;"></i>
					    			</a>
					    		<%end%>
					    		<!-- <i class="fas fa-ban" style="float: right;margin-top: -24px;"></i> -->
					    		<!-- <p style="margin:0;">Sender:User</p> -->
					    	</div>
					    </div>
					  </div>
					  <%end%>
					</div>
					<!-- <div class="card-footer" style="width:344px;height:50px;background:#F5F5F5;">
				    <center><a href="#">See All Notifications</a></center>
				  </div> -->
				</div>