<div class="card-body message-box">
	<% @HostBookMessages.each do |host_book_message| %>
	<input type="hidden" name="sender_name" value="<%= host_book_message.book_request.user.name%>">

	<input type="hidden" name="user_profile_pic" value="<%= host_book_message.book_request.user.profile_pic.present? ? host_book_message.book_request.user.profile_pic.url(:thumb) :  image_path("default-profile-image") %>">

	<input type="hidden" name="provider_profile_pic" value="<%= host_book_message.book_request.book.user.profile_pic.present? ? host_book_message.book_request.book.user.profile_pic.url(:thumb) :  image_path("default-profile-image") %>">

		<% if host_book_message.sender == "host" %>
      <div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
			  <div class="talktext">
			  	<p class="msg-time" title="<%=host_book_message.created_at%>"><%= time_ago_in_words(host_book_message.created_at) + ' ago' %></p>
			    <p><%=host_book_message.message_description.html_safe%></p>
			    <!-- <p>Time: <=host_book_message.created_at%></p> -->
					<p>Sender: <%= host_book_message.book_message_sender_name.html_safe %></p>
					<% if host_book_message.user_is_read == false %>
						<span class="fa-stack fa-sm text-secondary" style="float: right;top:-25px;">
					    <i class="fa fa-check fa-stack-1x" style="margin-left:4px"></i>
					    <i class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i>
					    <i class="fa fa-check  fa-stack-1x" style="margin-left:-4px"></i>
						</span>
					<% elsif host_book_message.user_is_read == true %>
						<span class="fa-stack fa-sm text-info" style="float: right;top:-25px;">
					    <i class="fa fa-check fa-stack-1x" style="margin-left:4px"></i>
					    <i class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;"></i>
					    <i class="fa fa-check  fa-stack-1x" style="margin-left:-4px"></i>
						</span>
					<%end%>
					<br>
					<% if host_book_message.book_message_attachment_file_name == nil %>
          <% else %>
          	<p><%= link_to(host_book_message.book_message_attachment.url(:original, true),target: "_blank",class: "link-color") do %>
          		<i class="fa fa-paperclip"></i>
            &nbsp;File Name: <%= host_book_message.book_message_attachment_file_name %>
            <% end %>
          	</p>
          <% end %>
			  </div>
			</div>
		<%else%>
			<div class="talk-bubble tri-right left-top" style="background-color:#f0f0f0;">
			  <div class="talktext">
			  	<p class="msg-time" title="<%=host_book_message.created_at%>"><%= time_ago_in_words(host_book_message.created_at) + ' ago' %></p>
			    <p><%=host_book_message.message_description.html_safe%></p>
			    <!-- <p>Time: <=host_book_message.created_at%></p> -->
					<p>Sender: <%= host_book_message.book_message_sender_name.html_safe %></p><br>
					<% if host_book_message.book_message_attachment_file_name == nil %>
          <% else %>
          	<p><%= link_to(host_book_message.book_message_attachment.url(:original, true),target: "_blank",class: "link-color") do %>
          		<i class="fa fa-paperclip"></i>
            &nbsp;File Name: <%= host_book_message.book_message_attachment_file_name %>
            <% end %>
          	</p>
          <% end %>
			  </div>
			</div>
		<%end%>
	<%end%>
</div>

<div class="card-footer">
	<div class="host-send-message-footer" style="display:none;">
		<%= form_tag({:action => :host_book_send_message}, :multipart => true, :id => 'host_message_form') do %>
			<%= hidden_field_tag(:book_request_id, params[:sender].present? ? @final_book_request.first.id : '' ) %>
      <div class="form-group">
	 			<input id="x" type="hidden" name="message_description">
				<trix-editor autofocus class="trix-content" input="x" id="message_description" placeholder="Type your message..." data-intro="true" onkeyup="disable_send_button()"></trix-editor>
			</div>
			<div class="form-group">
				<div class="custom-file">
					<%= file_field_tag :book_message_attachment,class: 'form-control',:id => 'msg_file' %>
				</div>
			</div>
			<div class="form-group">
				<%= button_tag 'Send', class: 'btn',id: 'send_msg_btn', 
     		data: { disable_with: "<i class='fa fa-refresh fa-spin'>
        </i> Sending Message..."}, :disabled => true %>
        <%= link_to '<button type="button" title="On click on it All messages received to you by User will be marked as read" class="btn btn-default">Mark it Read</button>'.html_safe, mark_it_read_host_path(@final_book_request.first.id) %>
			</div>
		<%end%>
	</div>
</div>

<%= render 'disable_send_button' %>
