  <!-- Page Content -->


  <div class="container">

	<%if flash[:success]%>
	  <div class="error_messages alert alert-success"><%= flash[:success] %></div>
	<% end %>

<% if BookMessage.unread_message_count(session[:user_id]).to_i > 0 %>
	<div class="card" style="background:#525664;">
	  <div class="card-body">
		<h3 style="color: white;padding-left: 2px;">Messages</h3>
		<h5 style="color: white;padding-left: 2px;">You have <%= BookMessage.unread_message_count(session[:user_id]) %> unread messages.</h5>
	  </div>
	</div>
<%end%>



	<div class="row">

	  <!-- Blog Entries Column -->
	  <div class="col-md-5">

						<!-- <div class="card notification-card"> -->
				<div class="card my-4 inbox-notification-card">
				  <div class="card-header msg-inbox-card-header">
					Inbox <a href="<%=message_window_path%>"><i class="fas fa-history" title="Click here to View Entire Chat History" style="float: right;color: grey;"></i></a>
				</div>
					<div class="list-group list-special-inbox">
						<% @HostBookMessages.each do |host_book_message| %>
					  <div class="list-group-item list-group-item-action" style="height: 96px;width: 442px;">
							<div class="row">
								<div class="col-md-1">
									<% if host_book_message.particular_provider_unread_message_count(session[:user_id]) == true %>
										<i class="fas fa-circle fa-1x" style="position: absolute;top: 18px;color:#F8304D;"></i>
									<%else%>
										<i class="fas fa-circle fa-1x" style="position: absolute;top: 18px;"></i>
									<%end%>
								</div>
								<div class="col-md-2">
									<a title="<%=host_book_message.book_request.user.name%>" style="cursor: pointer;text-decoration: none;"><%= image_tag host_book_message.book_request.user.profile_pic.present? ? host_book_message.book_request.user.profile_pic.url(:thumb) : "default-profile-image.png",class: 'rounded-circle profile-pic-thumbnail' %></a>
									<!-- <i class="fas fa-star" title="Mark as important" style="margin-left: 10px;margin-top: 10px;"></i> -->
								</div>
								<div class="col-md-9">
									<a class="message-inbox-link host-book-inbox-link" href="host_book_chat.<%= host_book_message.book_request_id %>?sender=host" style="text-decoration: none;color: #495057;">
										<p style="float: right;" class="msg-inbox-time" title="<%=host_book_message.created_at%>"><%= time_ago_in_words(host_book_message.created_at) + ' ago' %></p>
										<p style="margin:0;" title="<%=host_book_message.book_request.book.book_name%>"><%=host_book_message.book_request_sender_type(session[:user_id]).html_safe%> Book: <%=truncate(host_book_message.book_request.book.book_name, length:12)%></p>
										<p style="margin:0;">Customer: <%=truncate(host_book_message.book_request.user.name, length:15)%></p>
										<p style="margin:0;"><%=truncate(host_book_message.message_description, length:20)%></p>
									</a>
									<a class="starred" style="display: none;" href="<%=unmark_as_important_path(id: host_book_message.book_request_id,sender: 'host')%>">
										<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
									</a>
									<a class="unstarred" href="<%=mark_as_important_path(id: host_book_message.book_request_id,sender: 'host')%>">
										<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: grey;"></i>
									</a>
									<% if host_book_message.book_request.mark_as_important_host == true %>
									<!-- <div id="customised-popover" style="display:none;float: right;margin-bottom: -66px;background: white;">
									  <p style="margin:10px;">
										Mark as Important
									  </p>
								</div> -->
										<a class="starred" href="<%=unmark_as_important_path(id: host_book_message.book_request_id,sender: 'host')%>">
											<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
										</a>
									<%else%>
										<a class="unstarred" href="<%=mark_as_important_path(id: host_book_message.book_request_id,sender: 'host')%>">
											<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: grey;"></i>
										</a>
									<%end%>
									<!-- <i class="fas fa-ban" style="float: right;margin-top: -24px;"></i> -->
									<!-- <p style="margin:0;">Sender: Host</p> -->
								</div>
							</div>
					  </div>
					  <%end%>
					  <% @UserBookMessages.each do |user_book_message| %>
					  <div class="list-group-item list-group-item-action" style="height: 96px;width: 442px;">
						<div class="row">
							<div class="col-md-1">
								<% if user_book_message.particular_user_unread_message_count(session[:user_id]) == true %>
									<i class="fas fa-circle fa-1x" style="position: absolute;top: 18px;color:#F8304D;"></i>
								<%else%>
									<i class="fas fa-circle fa-1x" style="position: absolute;top: 18px;"></i>
								<%end%>
							</div>
							<div class="col-md-2">
								<a title="<%=user_book_message.book_request.book.user.name%>" style="cursor: pointer;text-decoration: none;"><%= image_tag user_book_message.book_request.book.user.profile_pic.present? ? user_book_message.book_request.book.user.profile_pic.url(:thumb) : "default-profile-image.png",class: 'rounded-circle profile-pic-thumbnail' %></a>
								<!-- <i class="fas fa-star" title="Mark as important" style="margin-left: 10px;margin-top: 10px;"></i> -->
							</div>
							<div class="col-md-9">
								<a class="message-inbox-link user-book-inbox-link" href="user_book_chat.<%= user_book_message.book_request_id %>?sender=user" style="text-decoration: none;color: #495057;">
									<p style="float: right;" class="msg-inbox-time" title="<%=user_book_message.created_at%>"><%= time_ago_in_words(user_book_message.created_at) + ' ago' %></p>
									<p style="margin:0;" title="<%=user_book_message.book_request.book.book_name%>"><%=user_book_message.book_request_sender_type(session[:user_id]).html_safe%> Book: <%=truncate(user_book_message.book_request.book.book_name, length:12)%></p>
									<p style="margin:0;">Provider: <%=truncate(user_book_message.book_request.book.user.name, length:15)%></p>
									<p style="margin:0;"><%=truncate(user_book_message.message_description, length:20)%></p>
								</a>
								<a class="starred" style="display: none;" href="<%=unmark_as_important_path(id: user_book_message.book_request_id,sender: 'user')%>">
									<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
								</a>
								<a class="unstarred" href="<%=mark_as_important_path(id: user_book_message.book_request_id,sender: 'user')%>">
									<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: grey;"></i>
								</a>
								<% if user_book_message.book_request.mark_as_important_user == true %>
								<!-- <div id="customised-popover" style="display:none;float: right;margin-bottom: -66px;background: white;">
								  <p style="margin:10px;">
									Mark as Important
								  </p>
							</div> -->
									<a class="starred" href="<%=unmark_as_important_path(id: user_book_message.book_request_id,sender: 'user')%>">
										<i class="fas fa-star" title="Unmark as important" style="float: right;margin-top: -24px;color:#007791;"></i>
									</a>
								<%else%>
									<a class="unstarred" href="<%=mark_as_important_path(id: user_book_message.book_request_id,sender: 'user')%>">
										<i class="fas fa-star" title="Mark as important" style="float: right;margin-top: -24px;color: grey;"></i>
									</a>
								<%end%>
								<!-- <i class="fas fa-ban" style="float: right;margin-top: -24px;"></i> -->
								<!-- <p style="margin:0;">Sender:User</p> -->
							</div>
						</div>
					  </div>
					  <%end%>
					</div>
					<!-- <div class="card-footer" style="width:344px;height:50px;background:#F5F5F5;">
					<center><a href="#">See All Notifications</a></center>
				  </div> -->
				</div>

	  </div>

	  <!-- Sidebar Widgets Column -->
	  <div class="col-md-7">

		<img class="msg-box-loader" style="display:none;" src="<%=asset_path('loading.gif')%>"/>

		<!-- Search Widget -->
		<div class="card my-4 msg-box-notification-card">
		 <!--  <h5 class="card-header"><i class="fas fa-star" title="Mark as important"></i> <= image_tag "images",class: 'rounded-circle msg-box-profile-pic-thumbnail' %> Sender Name</h5> -->
		 <h5 class="card-header" style="margin-top: 0px;height: 70px;"><img id="header-profile-image" class="rounded-circle profile-pic-thumbnail" src="" /></a> <a id="header-user-name"></a></h5>
		  <div class="msg-box">
			

			

				
				  </div>
				</div>
	  </div>

	</div>

  </div>
	<!-- /.row -->
  <!-- /.container -->