<div class="talk-bubble tri-left right-top" style="float:right;background-color:#F1F8FA;">
  <div class="talktext">
    <p><%=@book_messages.message_description%></p>
    <p>Time: <%=@book_messages.created_at%></p>
		<p>Sender: <%= @book_messages.sender %></p><br>
  </div>
</div>