<div class="container">
  <div class="jumbotron">
  	<center>
	    <h1>Log Out</h1> 
	    <p >You have successfully logged out.  <%= link_to 'Click here', login_path,class: 'link-color' %> to log in again.</p>
  	</center>
  </div> 
</div><br><br><br><br>