<%- if flash[:error] %>
  <div class='alert alert-danger'><%= flash[:error] %></div>
<% end %>
<% if flash[:success] %>
  <div class='alert alert-success'><%= flash[:success] %></div>
<% end %>
<div class="login-form">
  <%= form_tag sessions_path do %>
    <h2 class="text-center">Log in</h2>       
    <div class="form-group">
        <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email'  %>
    </div>
    <div class="form-group">
        <%= password_field_tag :password,"", class: 'form-control', placeholder: 'Password'  %>
        <%= link_to 'Forgot Password?', forget_password_form_path,class: 'forget-password link-color' %><br>
    </div>
    <div class="form-group">
        <%= submit_tag "Log in", class: 'btn btn-primary btn-block' %>
    </div>      
  <% end %>
  <p class="text-center">New User? <%= link_to 'Click here to create an account.', sign_up_path,class: 'link-color' %></p>
</div>