<%- if flash[:error] %>
  <div class='alert alert-danger'><%= flash[:error] %></div>
<% end %>
<% if flash[:success] %>
  <div class='alert alert-success'><%= flash[:success] %></div>
<% end %>
<div class="password-reset-form">
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <h2 class="text-center">Reset password</h2>   
    <%= hidden_field_tag :email, @user.email %>    
<!--     <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div> -->
    <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </div>
    <div class="form-group">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
    </div>
    <div class="form-group">
        <%= f.submit 'Update password', class: 'btn btn-primary btn-block' %>
    </div>       
  <% end %>
</div><br><br><br><br><br><br>