<%- if flash[:error] %>
  <div class='alert alert-danger'><%= flash[:error] %></div>
<% end %>
<% if flash[:success] %>
  <div class='alert alert-success'><%= flash[:success] %></div>
<% end %>
<div class="forget-password-form">
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <h3 class="text-center">Forget password</h3>   
    <!-- <p>Please enter your email address and we will send you a link to reset your password.</p> -->
    <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>
    <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
    </div>  
  <% end %>
  <div class= "text-center">
    Already a member? <%= link_to 'Log in', login_path,class: 'link-color' %>
  </div>
  <div class= "text-center">
    New User? <%= link_to 'Click here to create an account.', sign_up_path,class: 'link-color' %>
  </div>
</div><br><br><br><br><br><br><br><br>