You made an Registration at BOOK<font color="green">WORM</font><br><br>

Email ID used for registration was <%=@user.email%> <br><br>

You are receiving this email because you recently made a signup request at BOOK<font color="green">WORM</font>,Please provide confirmation to complete the Signup Process by clicking on the link below.<br><br>

<%= "http://#{APP_CONFIG['hostname']}"  << "/confirm_email?email=" << @user.email %>

<br><br>

Once confirmation is done you can login & use the application.