Dear User,<br><br>

You have got a new Message From Provider:<%= @provider_detail.name %> related to Book Request,Kindly find the detail below:-<br><br>

Book Name: <%= @book_message.book_request.book.book_name %><br>
Book Request Date: <%= @book_message.book_request.created_at %><br>
Message: <%= @book_message.message_description %><br>
Message Time: <%= @book_message.created_at %><br><br>

So,please have a look by doing Login to the application for more details and continue using our <br>application and post your feedback regarding your appplication usage experience.We will be happsy to Serve you.<br><br>

Thank you,<br>
Regards,<br>
BOOK<font color="green">WORM</font>