<div class="container">
	<%if flash[:error]%>
		<div class="error_messages alert alert-danger"><%= flash[:error] %></div>
	<% end %>
	<%if flash[:success]%>
		<div class="error_messages alert alert-success"><%= flash[:success] %></div>
	<% end %>
  <div class="jumbotron">
  	<center>
	    <p> <%= link_to 'Click here', login_path,class: 'link-color' %>  to login to the newly confirmed account.</p>
  	</center>
  </div> 
</div><br><br><br><br>