<% if @user.errors.any? %>
  <div class='alert alert-danger'>
    <p>Please correct the following errors:</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%if flash[:error]%>
  <div class="error_messages alert alert-danger"><%= flash[:error] %></div>
<% end %>
<%if flash[:success]%>
  <div class="error_messages alert alert-success"><%= flash[:success] %></div>
<% end %>
<div class="signup-form">
  <%= form_for @user do |f| %>
    <h2 class="text-center">Register</h2>       
    <!-- <p>Create a new account using the form below.  All fields are required.</p> -->
    <div class="form-row">
      <div class="form-group col-md-6">
          <%= f.text_field :first_name, {class: 'form-control',:placeholder => "First Name"}  %>
      </div>
      <div class="form-group col-md-6">
          <%= f.text_field :last_name, {class: 'form-control',:placeholder => "Last Name"}  %>
      </div>
    </div>
    <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>
    <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </div>
    <div class="form-group">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
    </div>
    <div class="form-group">
        <%= f.check_box :terms_accepted %> I agree to the
        <%= link_to 'Terms & Condition', '#',class: 'pull-right link-color' %>
    </div>
    <div class="form-group">
        <%= f.submit 'Register', class: 'btn btn-primary btn-block' %>
    </div> 
    <!-- <center>
      <label class="pull-left checkbox-inline"><input type="checkbox"> Accept Terms & Condition</label>
      <%= link_to '', '#',class: 'pull-right' %>
    </center> -->
  <% end %>
  <p class="text-center">Already a member? <%= link_to 'Log in', login_path,class: 'link-color' %></p>
</div>
