 

	<div style="display: none;">
		<% @book.book_images.each do |book_image| %>
	  	<a style="cursor: pointer;" href="<%= book_image.image.url(:original) %>" data-fancybox="images-preview" 
	     data-width="280" data-height="420"
	     data-thumb="<%= book_image.image.url(:thumb) %>"></a>
	  <%end%>
	</div>

  <div class="container">
  	<div class="form-group">
    	<h4 class="pseudo_border">Book Details</h4>
    </div>
    <table class="table" style="">
      <tbody>
        <tr>
          <td>
              <a class="d-block mb-4 h-100" style="cursor: pointer;" href="<%= @book.get_default_image_for_show_page %>"
						     data-fancybox="images-preview"
						     data-thumbs='{"autoStart":true}'>
						    <img src="<%= @book.get_default_image_for_show_page %>" width="280" height="420" />
							</a>
          </td>
          <td style="width:68%;">
          		<p class="display-label" style="float: right;"><i class="fas fa-rupee-sign"></i> <%= @book.price %></p>
              <p><%= @book.book_name %> By,<%= @book.author %><br><%= "(" << @book.category.try(:name) << ")"  %></p>
              <!-- <hr></hr> -->
              <div style="float: right;"><label class="heading-label">Book Availability</label> <p class="display-label"><%= @book.availability_status %></p></div>
              <div class="form-group">
				      	<label class="heading-label">Book Owner</label>
				      	<p class="display-label"><%= @book.user.name  %></p>
    					</div>
              <!-- <hr></hr> -->
              <div class="form-group">
				      	<label class="heading-label">Location</label>
				      	<p class="display-label"><%= @book.location_formating %></p>
    					</div>
              <label class="heading-label">Description</label>
  						<!-- <div id="parent"> -->
				    		<p class="display-label" id="description_link">
			    				<%= @book.description %>
			    			</p>
			    			<!-- <a class="collapsed" data-toggle="collapse" href="#description_link" aria-expanded="false" aria-controls="description_link"></a> -->
  						<!-- </div><br> -->
  						<div class="form-group">
    						<a href="<%= edit_book_path(@book.id) %>" class="btn btn btn-secondary"><i class="fas fa-edit"></i> Edit Details</a>
    					</div>
          </td>
        </tr>
      </tbody>
    </table>
	</div>