	<br>
	<div class="container">
	    <h3 class="pseudo_border">Update Book Details</h3>
	  	<hr>
	  	<%= form_for @book, :url => update_book_path, method: "post", html:{class: 'form-horizontal', role: 'form', multipart: 'true'}  do |f| %>
	  	<%= hidden_field_tag(:book_id,@book.id) %>
			<div class="row">
		      <!-- left column -->
		      
		      	<!-- edit form column -->
	    	<div class="col-md-9">
          <%if flash[:error]%>
						<div class="error_messages alert alert-danger"><%= flash[:error] %></div>
					<% end %>
					<%if flash[:success]%>
						<div class="error_messages alert alert-success"><%= flash[:success] %></div>
					<% end %>
		       		<!-- <h3>Personal info</h3> -->

       		<% if @book.errors.any? %>
			      <br>
			      <div class="error_messages alert alert-danger">
			        <ul>
			          <% for message in @book.errors.full_messages %>
			            <li><%= message %></li>
			          <% end %>
			        </ul>
			      </div>
			    <% end %>

					<form>
					  	<div class="form-row">
						    <div class="form-group col-md-6">
					      	<label>Book Name</label><font color="#F8304D">*</font>
					      	<%= f.text_field :book_name, {class: 'form-control'}  %>
						    </div>
							   <div class="form-group col-md-6">
								  <label class="control-label" for="email">
								    Category
								  </label><font color="#F8304D">*</font>
								  <div class="input-group">
								  	<%= f.select :category_id,options_from_collection_for_select(@categories, "id", "name",f.object.category_id),{include_blank: " Select Category"}, {class: 'form-control'}  %>
								    <div class="input-group-addon">
								    	<a href="#" role="button" title="Click here to add new Category" data-toggle="modal" data-target="#categoryModal" data-whatever="@mdo">
								    		<i class="fas fa-plus" style="color:black;"></i>
								    	</a>
								    </div>
								  </div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
					      	<label>Author</label><font color="#F8304D">*</font>
					      	<%= f.text_field :author, {class: 'form-control'}  %>
						    </div>
						    <div class="form-group col-md-6">
						      	<label>Price(INR)</label><font color="#F8304D">*</font>
						      	<%= f.number_field :price, {class: 'form-control'}  %>
						    </div>
							</div>
							<div class="form-row">
						    <div class="form-group col-md-4">
					      	<label>Country</label><font color="#F8304D">*</font>
					      	<%= f.text_field :country_field, class: 'form-control' %>
						    </div>
						    <div class="form-group col-md-4">
					      	<label>State</label><font color="#F8304D">*</font>
					      	<%= f.text_field :state_field, class: 'form-control'  %>
						    </div>
						    <div class="form-group col-md-4">
					      	<label>City</label><font color="#F8304D">*</font>
					      	<%= f.text_field :city_field, class: 'form-control'  %>
						    </div>
							</div>
							<div class="form-group">
	    					<label>Description</label><font color="#F8304D">*</font>
	    					<%= f.text_area :description, {class: 'form-control'}  %>
	  					</div>
							<div class="form-row">
								 <div class="form-group col-md-6">
						    	<label>Book Availability</label><font color="#F8304D">*</font>
					      	<%= f.select :availability_status, [["Select One", ""],["Available", "Available"], ["Not Available", "Not Available"]], {}, {class: "form-control"} %>
						    </div>
						    <div class="form-group col-md-6">
					      	<label>Upload Images</label><br>
					      	<%= file_field_tag "book_images[]", type: :file, multiple: true,accept: "image/x-png,image/gif,image/jpeg" %>
						    </div>
							</div>
					  	
			        <div class="form-row">
						    <div class="form-group col-md-6">
						      	<input class="btn btn-default" name="commit" type="submit" value="Update">
						    </div>
							</div>
					</form>
		    </div>
			</div>
		<%end%>
	</div>