	<br>
	<div class="container">
	    <h3 class="pseudo_border">Post New Book</h3>
	  	<hr>
	  	<%= form_for @book, :url => add_book_path, method: "post", html:{class: 'form-horizontal', role: 'form', multipart: 'true'}  do |f| %>
			<div class="row">
		      <!-- left column -->
		      
		      	<!-- edit form column -->
	    	<div class="col-md-9">
          <%if flash[:error]%>
						<div class="error_messages alert alert-danger"><%= flash[:error] %></div>
					<% end %>
					<%if flash[:success]%>
						<div class="error_messages alert alert-success"><%= flash[:success] %></div>
					<% end %>
		       		<!-- <h3>Personal info</h3> -->

			    <% if @book.errors.any? %>
			      <br>
			      <div class="error_messages alert alert-danger">
			        <ul>
			          <% for message in @book.errors.full_messages %>
			            <li><%= message %></li>
			          <% end %>
			        </ul>
			      </div>
			    <% end %>
					<form>
				  	<div class="form-row">
					    <div class="form-group col-md-6">
				      	<label>Book Name</label><font color="#F8304D">*</font>
				      	<%= f.text_field :book_name, {class: 'form-control'}  %>
					    </div>
					    <div class="form-group col-md-6">
							  <label class="control-label" for="email">
							    Category
							  </label><font color="#F8304D">*</font>
							  <div class="input-group">
							  	<%= f.select :category_id,all_category,{include_blank: " Select Category"}, {class: 'form-control'}  %>
							    <div class="input-group-addon" style="border-radius: 0px;">
							    	<a href="#" role="button" title="Click here to add new Category" data-toggle="modal" data-target="#categoryModal" data-whatever="@mdo">
							    		<i class="fas fa-plus" style="color:black;"></i>
							    	</a>
							    </div>
							  </div>
							</div>
						</div>
						<div class="form-row">
					    <div class="form-group col-md-6">
				      	<label>Author</label><font color="#F8304D">*</font>
				      	<%= f.text_field :author, {class: 'form-control'}  %>
					    </div>

					    <div class="form-group col-md-6">
				      	<label>Price(INR)</label><font color="#F8304D">*</font>
				      	<%= f.number_field :price, {class: 'form-control'}  %>
					    </div>
						</div>
						<div class="form-row">
					    <div class="form-group col-md-4">
				      	<label>Country</label><font color="#F8304D">*</font>
				      	<%= f.text_field :country_field, class: 'form-control',value:@user.country_field  %>
					    </div>
					    <div class="form-group col-md-4">
				      	<label>State</label><font color="#F8304D">*</font>
				      	<%= f.text_field :state_field, class: 'form-control',value:@user.state  %>
					    </div>
					    <div class="form-group col-md-4">
				      	<label>City</label><font color="#F8304D">*</font>
				      	<%= f.text_field :city_field, class: 'form-control',value:@user.city  %>
					    </div>
						</div>
						<div class="form-group">
    					<label>Description</label><font color="#F8304D">*</font>
    					<%= f.text_area :description, {class: 'form-control'}  %>
  					</div>
						<div class="form-row">
					    <div class="form-group col-md-6">
				      	<label>Book Availability</label><font color="#F8304D">*</font>
				      	<%= f.select :availability_status, [["Select One", ""],["Available", "Available"], ["Not Available", "Not Available"]], {}, {class: "form-control"} %>
					    </div>

					    <div class="form-group col-md-6">
				      	<label>Upload Images</label><br>
				      	<%= file_field_tag "book_images[]", type: :file, multiple: true,accept: "image/x-png,image/gif,image/jpeg" %>
					    </div>
						</div>
				  	
		        <div class="form-row">
					    <div class="form-group col-md-6">
					      	<input class="btn btn-primary" name="commit" type="submit" value="Save">
					      	 <input type="reset" class="btn btn-default" value="Reset">
					    </div>
						</div>
					</form>
		    </div>
			</div>
		<%end%>
	</div>


	<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content category-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Add New Category
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag submit_category_path do %>
              <!-- <h3>Personal info</h3> -->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Category</label>
            <%= text_field_tag :name, params[:name], class: 'form-control'  %>
          </div>
          <div class="form-group col-md-6">
            <label>Description</label>
            <%= text_field_tag :description, params[:description], class: 'form-control'  %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag 'Save', class: 'btn btn-primary float-left', 
            data: { disable_with: "<i class='fa fa-refresh f
      a-spin'>
            </i> Saving..."} %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <%end%>
    </div>
  </div>
</div>