	<div style="display: none;">
		<% @book.book_images.each do |book_image| %>
	  	<a style="cursor: pointer;" href="<%= book_image.image.url(:original) %>" data-fancybox="images-preview" 
	     data-width="280" data-height="420"
	     data-thumb="<%= book_image.image.url(:thumb) %>"></a>
	  <%end%>
	</div>

	  <div class="container">
	  	<%if flash[:error]%>
				<div class="error_messages alert alert-danger"><%= flash[:error] %></div>
			<% end %>
			<%if flash[:success]%>
				<div class="error_messages alert alert-success"><%= flash[:success] %></div>
			<% end %>
	  	<div class="form-group">
	    	<h4 class="pseudo_border">Book Details</h4>
	    </div>
	    <table class="table" style="">
	      <tbody>
	        <tr>
	          <td>
              <a class="d-block mb-4 h-100" style="cursor: pointer;" href="<%= @book.get_default_image_for_show_page %>"
						     data-fancybox="images-preview"
						     data-thumbs='{"autoStart":true}'>
						    <img src="<%= @book.get_default_image_for_show_page %>" width="280" height="420" />
							</a>
	          </td>
	          <td style="width:68%;">
	          		<p class="display-label" style="float: right;"><i class="fas fa-rupee-sign"></i> <%= @book.price %></p>
	              <p><%= @book.book_name %> By,<%= @book.author  %><br><%= "(" << @book.category.try(:name) << ")"  %></p>
	              <!-- <hr></hr> -->
	              <div style="float: right;"><label class="heading-label">Book Availability</label> <p class="display-label"><%= @book.availability_status %></p></div>
	              <div class="form-group">
					      	<label class="heading-label">Book Owner</label>
					      	<p class="display-label"><%= @book.user.name  %></p>
	    					</div>
	              <!-- <hr></hr> -->
	              <div class="form-group">
					      	<label class="heading-label">Location</label>
					      	<p class="display-label"><%= @book.location_formating %></p>
	    					</div>
	              <label class="heading-label">Description</label>
	  						<!-- <div id="parent"> -->
					    		<p class="display-label" id="description_link">
				    				<%= @book.description %>
				    			</p>
				    			<!-- <a class="collapsed" data-toggle="collapse" href="#description_link" aria-expanded="false" aria-controls="description_link"></a> -->
	  						<!-- </div><br> -->
						    
	          </td>
	        </tr>
	      </tbody>
	    </table>
		</div>

		<div class="container">

			<div class="form-group">
	    	<h4 class="pseudo_border">About the Provider</h4>
	    	<!-- <p display-label><%= @book.availability_status %></p> -->
	    </div>

	    <div class="row">
	    	<div class="col-md-4">
	    		<a style="cursor: pointer;" hef="#" title="<%=@book.user.name%>">
	    			<%= image_tag @book.user.profile_pic.present? ? @book.user.profile_pic.url(:thumb) : "default-profile-image.png",class: 'rounded-circle profile-front-page-image' %>
	    		</a>
	    	</div>
	    	<div class="col-md-8">
	    		<p style="font-size: 16px;"><%= @book.user.name %></p>
	    		<div id="parent">
		    		<p class="collapse display-label" id="about_the_provider_link">
		    			<%= @book.user.about_yourself %>
		    		</p>
		    		<a class="collapsed" data-toggle="collapse" href="#about_the_provider_link" aria-expanded="false" aria-controls="about_the_provider_link"></a>
	    		</div>
	    	</div>
	    </div><br><br>

	    <%= form_tag send_request_book_message_path do %>
   		<%= hidden_field_tag(:book_id, @book.id ) %>
				<div class="form-group">
					<input id="x" type="hidden" name="message_description">
					<trix-editor autofocus class="trix-content" input="x" placeholder="Type your message..." data-intro="true"></trix-editor>
				</div>
				<div class="row">
          <div class="col-md-12">
             <input class="btn" name="bottom_search_button" id="send_msg_btn" type="submit" value="Send Message" style="border-radius: 0px;">
          </div>
        </div>
      <%end%>

    </div>

		<div class="container" style="padding-left: 0px;">
			<div class="row">
				<div class="col-md-11">
					<% if @particular_user_books.count > 0 %>
						<h3 class="pseudo_border" style="padding-left: 11px;">More Books Offered By,Owner: <%= @book.user.name %></h3>
					<%end%>
				</div>
				<div class="col-md-1">
					<!-- < if @particular_user_books.count >= 4 %>
						<a href="<%= see_all_external_books_path %>" style="line-height: 50px;">See All</a>
					<end%> -->
				</div>
			</div>
			<% if @particular_user_books.count <= 4 %>
				<div class="ext_books_scroller" data-slick='{"slidesToShow": <%=  @particular_user_books.count %>}'>
			<%else%>
				<div class="ext_books_scroller">
			<%end%>
				<% @particular_user_books.each do |particular_user_book| %>
					<div class="col-md-3 mb-3">
						<a href="<%= request_book_details_path(particular_user_book) %>" style="text-decoration: none;">

							<div class="flip-card">
							  <div class="flip-card-inner">
							    <div class="flip-card-front">
							      <%= image_tag particular_user_book.get_default_image_for_index_page,class: '', height: '320' ,width: '240' %>
							    </div>
							    <div class="flip-card-back">
							      <h3 title="<%= particular_user_book.book_name %>"><%= truncate(particular_user_book.book_name, length:15) %><br><%= "(" << particular_user_book.category.try(:name) << ")"  %></h3> 
							      <p><%= particular_user_book.user.name %></p> 
							      <p><%=  particular_user_book.location_formating %></p>
							      <div class="card-footer" style="top: 85px;position: relative;">
								    	<div class="row">
								    		<div class="col-md-4">
										    	<%= link_to "" do %>
													  <i class="far fa-heart" style="color: #212529;"></i>
													<% end %>
												</div>
												<div class="col-md-3">
													
												</div>
												<div class="col-md-5">
								      		<span style="color: #212529;margin-right: 2px;"><i class="fas fa-rupee-sign"></i> <%= particular_user_book.price %></span>
								      	</div>
						      		</div>
						    		</div>
							  	</div> 
					    	</div>
							</div>

						</a>
					</div>
				<%end%>
			</div>
		</div>
	</div>