<div class="container">
  <div class="row mb-2">
  	<h3 class="pseudo_border" style="padding-left: 11px;">Recently Uploaded Books</h3>
  	<% @external_books.each do |external_book| %>
	    <div class="col-md-12">
	      <div class="card flex-md-row mb-4 box-shadow h-md-250 index-page-cards">
	      	<a href="<%= request_book_details_path(external_book) %>" style="text-decoration: none;">
	      	<img class="img-fluid img-thumbnail" style="height: 240px;width: 180px;margin: 15px;" src="<%= external_book.get_default_image_for_index_page%>" alt=""></a>
	        <div class="card-body d-flex flex-column align-items-start">
	          <h4 class="mb-0">
	          	<%= truncate(external_book.book_name, length: 30) %> By,<%=  %><br><%= "(" << external_book.category.try(:name) << ")"  %>
	          </h4>
	          <!-- <div class="mb-1 text-muted"><= external_book.user.name %></div> -->
	          <p class="location">Location: <%= external_book.location_formating %></p>
	          <p><%= truncate(external_book.description, length:105) %></p>
	          <p class="mb-1 text-muted">by Owner: <a><%= external_book.user.name %></a>, <%= external_book.created_at %></p>
      			<p display-label><i class="fas fa-rupee-sign"></i> <%= external_book.price %></p>
	          <a href="<%= request_book_details_path(external_book) %>" class="btn btn-success view-details-btn"><i class="fas fa-eye"></i> View Details</a>
	        </div>
	      </div>
	      <!-- <hr> -->
	    </div>
    <%end%>
  </div>
</div><br>
<div class="digg_pagination" style="float:right;">
	<%= will_paginate @external_books %>
</div>
<br><br>