<div class="container">
  <div class="row mb-2">
  	<h3 class="pseudo_border" style="padding-left: 11px;">My Books</h3>
  	<% @books.each do |book| %>
	    <div class="col-md-12">
	      <div class="card flex-md-row mb-4 box-shadow h-md-250 index-page-cards">
	      	<a href="<%= book_detail_page_path(book) %>" style="text-decoration: none;">
	      	<img class="img-fluid img-thumbnail" style="height: 240px;width: 180px;margin: 15px;" src="<%= book.get_default_image_for_index_page%>" alt=""></a>
	        <div class="card-body d-flex flex-column align-items-start">
	          <h4 class="mb-0">
	          	<%= truncate(book.book_name, length: 30) %> By,<%=  %><br><%= "(" << book.category.try(:name) << ")"  %>&nbsp;&nbsp;&nbsp;<%= image_tag book.availability_status == "Not Available" ? "not-available-black-24dp.png" : '' %>
	          </h4>
	          <!-- <div class="mb-1 text-muted">< book.user.name %></div> -->
	          <p>Location:<%= book.location_formating %></p>
	          <p><%= truncate(book.description, length: 105) %></p>
	          <p class="mb-1 text-muted">by Owner: <a><%= book.user.name %></a>, <%= book.created_at %></p>
	          <p display-label><i class="fas fa-rupee-sign"></i> <%= book.price %></p>
	          <a href="<%= edit_book_path(book) %>" class="btn btn btn-secondary edit-details-btn"><i class="fas fa-edit"></i> Edit Details</a>
	          <a href="<%= book_detail_page_path(book) %>" class="btn btn-success view-details-btn"><i class="fas fa-eye"></i> View Details</a>
	        </div>
	      </div>
	      <!-- <hr> -->
	    </div>
    <%end%>
  	</div>
	</div>
	<!--News card-->

  <br>
  <div class="digg_pagination" style="float:right;">
  	<%= will_paginate @books %>
	</div>
</div><br><br>