@import "bootstrap";
@import 'slick';
@import 'slick-theme';
@import 'trix';
@import 'select2';
@import 'toastr';

/*.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}*/

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}

.welcome-slider{
  background:wheat !important;
}