body { 
  padding-top: 100px; 
  position: relative;
  padding-bottom: 16rem;
  background-color:#fafafa !important; 
  /*font-size: 12px !important;*/
  /*font-family: 'Roboto' !important;*/
   /*font-family: 'Josefin Sans' !important;*/
  /*font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif !important;*/
  /*background: #fafafa !important;*/
}

*{
  font-family: 'Josefin Sans' !important;
}


.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}

.navbar{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.profile-pic-thumbnail {
  width:46px;
  height:46px;
}

.modal-dialog {
          width: 700px; /* New width for default modal */
        }

.new-profile-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.profile-front-page-image{
  width: 140px;
  height: 140px;
}

.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.image-upload-link:hover {
    cursor: pointer;
}

.login-form {
  width: 340px;
  margin: 50px auto;
  padding-top: 80px;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
  border-radius: 0px !important;
}

.forget-password-form {
  width: 340px;
  margin: 50px auto;
  padding-top: 80px;
}
.forget-password-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.password-reset-form {
  width: 340px;
  margin: 50px auto;
  padding-top: 80px;
}

.password-reset-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form {
  width: 340px;
  margin: 50px auto;
  padding-top: 80px;
}

.signup-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.my-book-card {
  /*height: 100%;*/
  background: white;
  height: auto;
  width: 240px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px grey;

}
.my-book-card:hover{ 
     box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
  }

.my-book-ad-card {
  /*height: 100%;*/
  background: white;
  height: 315px;
  width: 240px;
  box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px grey;

}
.my-book-ad-card:hover{ 
     box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
  }

.left {
  position: absolute;
  top: 42%;
  left: 6.4%;
  /*z-index: 2000;*/
}

.right {
  position: absolute;
  top: 42%;
  right: 6.4%;
  /*z-index: 2000;*/
}

.left1 {
  position: absolute;
  top: 103%;
  left: 7.4%;
  /*z-index: 2000;*/
}

.right1 {
  position: absolute;
  top: 103%;
  right: 7.4%;
  /*z-index: 2000;*/
}

.search-text{
   padding-bottom:60px;
}
  
.search-text .input-search{
  height:45px;
  width:40%;
  padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
    background: #545454;
    font-family:Roboto;
    border:none;
  color:#FFF;
  height: 45px;
    width: 80px;
}

.search-text h4{
    color:#888582;
    font-weight: 700;
}

/*.user-dashboard-footer{
  background: #F0F3F4 !important;
  padding: 60px 0px;
}*/

.user-dashboard-footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

.user-dashboard-footer ul li{
    float:left;
}

.user-dashboard-footer ul li a{
  color:#b1aca1;
  padding:20px;
}

.user-dashboard-footer ul li a:hover{
  color:#7dabdb;
  text-decoration:none;
}

/*.footer-top{
  padding-bottom:50px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    background:#333333; 
    padding: 10px;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
  text-decoration:none;
}*/

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
  font-size:12px;
  padding:15px 0 10px 0;
}

.list-group{
  width: 425px;
  /*max-height: 100px;*/
  /*max-width: 344px;*/
  margin-bottom: 10px;
  /*overflow-x: hidden;;
  -webkit-overflow-scrolling: touch;*/
}

.list-special .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-special .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.notification-card{
  height: 391px !important;
  width: 344px !important;
  box-shadow: .8px .9px 4px grey;
  /*z-index: 1;*/
}

.forget-password{
  float: right;
}

.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.3);
  opacity: 0;
  transition: opacity .25s;
}
.card-img-wrap img {
  transition: transform .25s;
  width: 100%;
}
.card-img-wrap:hover img {
  transform: scale(1.2);
}
.card-img-wrap:hover:after {
  opacity: 1;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 20px;
  display: inline-block;
  position: relative;
  width: 450px;
  max-width: 600px;
  height: auto;
}

.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #f0f0f0 transparent transparent transparent;
}

.tri-left.right-top:after{
  float: right;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -20px;
  left: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #F1F8FA transparent transparent transparent;
}
/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.message-box{
  /*background-color: #FEF9E7;*/
  /*background-image: url("bg_messages.png");   */
  height: 323px;
  max-height: 380px;
  overflow-x: hidden;;
  -webkit-overflow-scrolling: touch;
}

.msg-box-profile-pic-thumbnail{
  margin-left: 9px;
  margin-right: 9px;
  width: 55px;
  height: 55px;
}

hr.inbox {
  width:432px;
  border: 0;
  /*clear:both;*/
  /*display:block;*/
  /*width: 96%;                */
  background-color:#D9DADB;
  height: 1px;
  margin: 0px;
  }

  .message-inbox-image{
    margin-left: 20px;
    margin-top: 10px;
  }

  .message-inbox{
    height: 480px;
    max-height: 570px;
    overflow-x: hidden;;
    -webkit-overflow-scrolling: touch;
}

  .msg-inbox-card-header{
    width:442px;
    height:35px;
    padding-bottom:27px;
    background:#F5F5F5;
  }

/*Pagination*/

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #7C008F;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #7C008F;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #7C008F;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

/* Code for Advanced Search */
  .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
  }
  .btn-group .btn {
      border-radius: 0;
      margin-left: -1px;
  }

  @media screen and (min-width: 768px) {
    #adv-search {
        width: 600px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 558px;
    }
  }

  .adv-search-label{
    line-height: 0px;
  }
  .adv-search-row{
    padding-bottom: 15px;
  }

  .msg-box-loader{
    position: absolute;
    top: 45%;
    left: 53%;
    margin: -50px 0px 0px -50px;
  }

  .msg-time{
    color: grey;
    font-size: 15px;
    line-height: 35px;
    cursor: pointer;
  }

  .inbox-ul {
    list-style-type: none;
    margin: 0;
    padding-left:0;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

/*  ul:hover{
    background:#F8F9FA;
  }*/

  .inbox-li{
    height: 80px;
    max-height: 100px;
    /*padding: : 20px;*/
    /*line-height: 0px;*/
  }

  .msg-box-p{
    line-height: 0px;
  }

/*  .inbox-li p{
    line-height: 0px;
  }*/

.trix-content{
  background: white;
}

.button_row{
  background: white;
}

p.inbox-msg-description{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

  .msg-inbox-time{
    padding-right: 0px;
    color: grey;
    font-size: 12px;
    cursor: pointer;
  }

  .inbox-notification-card{
    border-radius: 0 !important;
    height: 550px !important;
    width: 442px !important;
    /*box-shadow: .8px .9px 4px grey;*/
    max-height: 620px;
    overflow-x: hidden;;
    -webkit-overflow-scrolling: touch;
    /*z-index: 1;*/
  }

  .msg-box-notification-card{
    border-radius: 0 !important;
  }

/*.list-special-inbox{
  height: 150px;
  max-height: 300px;
  max-width: 344px;
  margin-bottom: 10px;
  overflow-x: hidden;;
  -webkit-overflow-scrolling: touch;
}*/

.list-special-inbox .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-special-inbox .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}


.btn-teal {
  border-radius: 0px !important;
  background: #009688 !important;
 /* border-color: white;
  background: black !important;*/
}

.btn-primary {
  background: #795548 !important;
  border-color: #795548 !important;
  /*border-color: #B245AA !important;*/
}

.word-wrap-description{
  word-wrap: break-word;
}

.display-label {
  font-size: 15px;
  color: #696969;
  /*color: #787878;*/
}

.heading-label{
  font-size: 18px;
  color: black;
  font-weight: normal;
}

.form-control{
  border-radius: 0px !important;
}

#customised-popover {
  border: solid 1px red;
  display: inline-block;
  height: 40px;
  text-align:center;
}

.modal-dialog{
  width:80%;
  margin: auto;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  background: #33691E !important;
  border-color: #33691E !important;
}

.feedback-icon {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display:none;
  background: teal !important;
  border-color: teal !important;
}

.feedback-modal-content{
  width: 800px;
  height: 550px;
}

.category-modal-content{
  width: 553px;
  height: 208px;
}


.edit-profile-modal-content{
  border-radius: 6px;
  width: 690px;
}

.alert{
  text-align: center;
}

.myDiv{
  background-color: #9999cc;
  height:500px;
  width:100%;
}

.welcome-slider{
  background: red !important;
}

.footer-content{
  margin-right: 12rem;
}

.top-logo{
  font-size: 36px !important;
}

.mybooks-left{
   position: absolute !important;
   left: 71px !important;
   bottom: 55% !important;
}

.mybooks-right{
   position: absolute !important;
   right: 71px !important;
   bottom: 55% !important;
}

.link-color{
  color:#795548 !important;
}

#badge-notify{
  position:relative;
  top: -15px;
  left: -35px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  line-height: 1.43;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #ec5252;
  border-radius: 15px
}

.logo-tagline{
  color: white;
  position: absolute;
  top: 43px;
  left:158px;
  font-size: 14px !important;
}

.worm-logo{
  width: 95px;
  position: absolute;
  top: 17px;
  right: 1125px;
  /*right: 1142px;*/
  height: 51px;
}

.feedback-close-button{
  position: absolute;
  top: -4px;
  right: 2px;
}

#particles-js{
  z-index: -1;
  position:absolute;
  width: 100%;
  height: 100%;
  /*background-color: #b61924;*/
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} 
#send_msg_btn{
  background: #ec5252;
  color: white;
}
.field_with_errors {
  display: inline;
}

.about-provider-thumbnail {
  width:46px;
  height:46px;
}

.location{
  font-size: 13px;
}

.view-details-btn{
  position: absolute;
  right: 11px;
  top: 213px;
}

.edit-details-btn{
  position: absolute;
  top: 213px;
  right: 139px;
}

.index-page-cards{
  height: 268px;
}


/* code for Read more starts */
#parent {
  font-size: 14px;
  line-height: 1.5;
}

#parent p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#parent p {
    min-height: 42px !important;
}

#parent a.collapsed:after  {
  color: green !important; 
  content: 'Read More';
}

#parent a:not(.collapsed):after {
  color: green !important;
  content: 'Read Less';
}
/* code for Read more ends */

.pseudo_border {
  position:relative;
  display:inline-block;
}
.pseudo_border:after {
  content:'';
  position:absolute;
  left:0;right:0;
  top:85%;
  margin: 10px auto;
  width:55%;
  height:6px;
  background:#795548;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Footer Styles
 */

.user-dashboard-footer {
  z-index: -2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#no-result-found{
 text-align: center;
 padding-top: 103px;
}

.index-page-cards:hover{ 
  border-bottom: 2px solid #7B5448;
}

.flip-card {
  background-color: transparent;
  width: 240px;
  height: 325px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  opacity: 0.9;
}

.link-color:hover{
  color: green !important;
}