  <header>
    <div id="particles-js"></div>
          <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-expand-lg navbar-dark bg-dark scrolling-navbar" style="z-index: 3;padding: .7rem 1rem;background: #3E2723 !important;height: 70px;">
      <!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> -->
      <!-- <nav class="navbar fixed-top navbar-expand-md navbar-dark fixed-top bg-dark"> -->

        <!-- Navbar brand -->
        <a class="navbar-brand top-logo" href="<%=welcome_screen_path%>">BOOK<font color="green">WORM</font></a>
        <%= image_tag "large_cutegreen-worm.png",class: 'worm-logo' %>
        <p class="logo-tagline">Book Sharing</p>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>

              <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <form>
                    <div class="input-prepend input-append">
                      <div class="btn-group">
                        <select class="search-selectpicker input-group-addon">
                          <option value="" disabled selected class="text-dark search-option">Search By</option>
                          <option class="text-dark search-option">Book</option>
                          <option class="text-dark search-option">Location</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Search" id="inputGroup" style="width: 520px;border-width: 0px;border: 1px solid #cccccc;border-bottom-color: #b3b3b3;border-radius: 0px;">
                            <span class="input-group-btn">
                              <button class="btn btn-default search-btn" type="button"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                    </div>
                  </form>
                </li>
              </ul> -->

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>


              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="<%=login_path%>"><h4>Log In</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%=sign_up_path%>"><h4>Register</h4></a>
                </li>
              </ul>

              <!-- <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <= link_to '<button type="button" class="btn btn-outline-warning">Submit Ad</button>'.html_safe, new_Book_ad_path %>
                  </li>
              </ul> -->
<!-- 
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul> -->
            <!-- Links -->

          <!--     <form class="form-inline">
                  <div class="md-form mt-0">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  </div>
              </form> -->
          </div>
        <!-- Collapsible content -->

      </nav>


  </header>