<!DOCTYPE html>
<html>
  <head>
    <title>BOOKWORM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Poppins|Knewave|Josefin+Sans|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>

    <!-- Material design theme  -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  </head>

  <body>

	<!--Main Navigation-->
	<header>

  <body style="padding-top: 70px !important;">

	  <!--Main Navigation-->
	  <header>
	    <% if !session[:user_id].present? %>
	          <!--Navbar-->
	    <nav class="navbar fixed-top navbar-expand-lg navbar-expand-lg navbar-dark bg-dark scrolling-navbar" style="z-index: 3;padding: .7rem 1rem;background: #3E2723 !important;height: 70px;">
	    	<a class="navbar-brand top-logo" href="<%=welcome_screen_path%>">BOOK<font color="green">WORM</font></a>
        	<%= image_tag "large_cutegreen-worm.png",class: 'worm-logo' %>
        <p class="logo-tagline">Book Sharing</p>

	        <!-- Collapse button -->
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
	            aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>

	        <!-- Collapsible content -->
	          <div class="collapse navbar-collapse" id="basicExampleNav">

	              <ul class="navbar-nav mr-auto">
	                <li class="nav-item">

	                </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                <li class="nav-item">

	                </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                <li class="nav-item">

	                </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                  <li class="nav-item">

	                  </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                  <li class="nav-item">

	                  </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                  <li class="nav-item">

	                  </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                  <li class="nav-item">

	                  </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                  <li class="nav-item">

	                  </li>
	              </ul>

	              <ul class="navbar-nav mr-auto">
	                  <li class="nav-item">

	                  </li>
	              </ul>


	              <ul class="navbar-nav mr-auto">
	                <li class="nav-item">
	                  <a class="nav-link" href="<%=login_path%>"><h4>Log In</h4></a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="<%=sign_up_path%>"><h4>Register</h4></a>
	                </li>
	              </ul>

	          </div>
	        <!-- Collapsible content -->

	      </nav>


	  </header>
	  <!--Main Navigation-->

	    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light welcome-slider" style="height:500px;background-image: url(<%= asset_path 'book_front_page.jpg' %>) !important;">
	      <div class="col-md-12 p-lg-5 mx-auto my-5">
	        <h1 style="font-size: 70px;color:white;font-family: 'Josefin Sans', sans-serif;">Book Sharing Platform</h1>
	        <p class="lead font-weight-normal" style="font-size: 42px;color:white;font-family: 'Josefin Sans', sans-serif;">Enjoy Reading & Sharing Books.</p>
	        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
	      </div>
	      <div class="product-device box-shadow d-none d-md-block"></div>
	      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
	    </div>

	    <div class="container">
	      <%= yield %>
	    </div>

	    <a id="back-to-top" href="#" class="btn btn-primary btn-sm back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></a>

	    <a href="#" class="btn btn-primary btn-sm feedback-icon" role="button" title="Click to Provide Application Experience Feeback" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><%= image_tag "baseline_feedback_white_24dp.png" %></a>

	    <!-- Button trigger modal -->

	    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content feedback-modal-content">
	          <div class="modal-header">
	            <h5 class="modal-title" id="exampleModalLabel">
	              <%= image_tag "feedback_brown1.jpeg",class: '',width: '770',height: '200' %>   
	            </h5>
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	              <span aria-hidden="true" class="feedback-close-button">&times;</span>
	            </button>
	          </div>
	          <div class="modal-body">
	            <%= form_tag submit_feedback_path do %>
	            <div class="form-group">
	              <%if flash[:error]%>
	                <div class="error_messages alert alert-danger"><%= flash[:error] %></div>
	              <% end %>
	              <%if flash[:success]%>
	                <div class="error_messages alert alert-success"><%= flash[:success] %></div>
	              <% end %>
	            </div>
	                  <!-- <h3>Personal info</h3> -->

	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  <label>Name</label><font color="#F8304D">*</font>
	                  <%= text_field_tag :name, params[:name], class: 'form-control'  %>
	                </div>
	                <div class="form-group col-md-6">
	                  <label>Email</label><font color="#F8304D">*</font>
	                  <%= text_field_tag :email, params[:email], class: 'form-control'  %>
	                </div>
	              </div>
	              <div class="form-group">
	                <label>Suggestion</label><font color="#F8304D">*</font>
	                <%= text_area_tag :suggestion, params[:suggestion], class: 'form-control',:placeholder => "Write What you think need to be added more to improve the application."  %>
	              </div>
	          </div>
	          <div class="modal-footer">
	            <%= button_tag 'Send Suggestion', class: 'btn btn-primary float-left', 
	                data: { disable_with: "<i class='fa fa-refresh f
	          a-spin'>
	                </i> Sending Suggestion..."} %>
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	          <%end%>
	        </div>
	      </div>
	    </div>



	<!-- Modal -->
	    
	    <footer class="user-dashboard-footer">
	        
<!-- 	      <div class="search-text"> 
	        <div class="container">
	            <center>
	             
	               <div class="form">
	                   <h4>SIGN UP TO OUR NEWSLETTER</h4>
	                    <form id="search-form" class="form-search form-horizontal">
	                        <input type="text" class="input-search" placeholder="Email Address">
	                        <button type="submit" class="btn-search">SUBMIT</button>
	                    </form>
	                </div>
	              </center>
	            
	            </div>         
	        </div>     


	          <div class="container" style="border-top:1px solid grey;">
	            <center>  
	                <div class="col-lg-6 col-lg-offset-3">
	                      <ul class="menu">
	                                 
	                             <li>
	                                <a href="#">Home</a>
	                              </li>
	                                   
	                              <li>
	                                 <a href="#">About</a>
	                              </li>
	                                   
	                              <li>
	                                <a href="#">Blog</a>
	                              </li>
	                                   
	                              <li>
	                                 <a href="#">Gallery</a>
	                              </li>
	                                   
	                              <li>
	                                <a href="#">Contact</a>
	                             </li>
	                   
	                        </ul>
	                </div>
	            </center>
	          </div> -->


      <div class="copyright">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-3">
	            
	          </div>
	          <div class="col-md-9">
	            <p><h6 class="footer-content">BOOK<font color="green">WORM</font> Copyright © 2018 All rights reserved</h6></p>
	          </div>
	        </div>
	         
	      </div>
	    </div>
	        
	    </footer>

	    

	  </body>
  <%end%>
</html>