<!DOCTYPE html>
<html>
<head>
  <title>BOOKWORM</title>
  <%= stylesheet_link_tag "custom.css" %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>   
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
