<!DOCTYPE html>
<html>
  <head>
    <title>BOOKWORM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Poppins|Knewave|Josefin+Sans|Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>


<!-- Material design theme  -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  </head>

  <body>

	<!--Main Navigation-->
	<header>

          <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-expand-lg navbar-dark bg-dark scrolling-navbar" style="z-index: 3;padding: .7rem 1rem;background: #3E2723 !important;">
      <!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> -->
      <!-- <nav class="navbar fixed-top navbar-expand-md navbar-dark fixed-top bg-dark"> -->

        <!-- Navbar brand -->
        <a class="navbar-brand top-logo" href="<%=user_dashboard_path%>">BOOK<font color="green">WORM</font></a>
        <%= image_tag "large_cutegreen-worm.png",class: 'worm-logo' %>
        <p class="logo-tagline">Book Sharing</p>



        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>
               <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <%= form_tag advanced_search_results_path do %>
                  <div class="input-group" id="adv-search">
                    <%= text_field_tag :book_name,"", class: 'form-control', placeholder: 'Search for a Book......E.g. Theory of Cookery, The Wholesome Kitchen, 50 Great Curries of India',style: 'border-radius: 0px;' %>
                    <!-- <= text_field_tag :book_name, 
                      params[:book_name], 
                      id: 'books_search', 
                      autocomplete: :off, 
                      placeholder: 'Search for books', 
                      class: 'form-control',style: 'border-radius: 0px;width:100%;' %> -->
                    <div class="input-group-btn">
                      <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                          <div class="dropdown-menu dropdown-menu-right search-dropdown" role="menu">
                            <form>
                              <div class="row adv-search-row">
                                <div class="col-md-12">
                                  <label class="adv-search-label">Search by Category</label><br>
                                  <!-- <select data-filter="make" class="filter-make filter form-control" style="width:100%;">
                                    <option value="">Select Category</option>
                                    <option value="">Show All</option>
                                  </select> -->
                                  <%= select_tag 'category', options_for_select(Category.all.collect{ |u| [u.name] }),include_blank: "--Select Category--", class: 'form-control',style: 'width:100%;' %>
                                </div>
                              </div>
<!--                               <div class="row adv-search-row">
                                <div class="col-md-12">
                                  <label class="adv-search-label">Search by State</label>
                                  <select data-filter="make" class="filter-make filter form-control" style="width:100%;">
                                    <option value="">Select State</option>
                                    <option value="">Show All</option></select>
                                </div>
                              </div> -->
                              <div class="row adv-search-row">
                                <div class="col-md-12">
                                  <label class="adv-search-label">Search by City</label>
                                  <%= text_field_tag :city,"", class: 'form-control', placeholder: '',style: 'width:100%;' %>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                   <input class="btn btn-primary" name="bottom_search_button" type="submit" value="Search">
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" name="top_search_button" style="border-radius: 0px;"><i class="fa fa-search"></i></button>
                    <%end%>
                  </div>
                </li>
              </ul>

              <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <form>
                    <div class="input-prepend input-append">
                      <div class="btn-group">
                        <select class="search-selectpicker input-group-addon">
                          <option value="" disabled selected class="text-dark search-option">Search By</option>
                          <option class="text-dark search-option">book</option>
                          <option class="text-dark search-option">Location</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Search" id="inputGroup" style="width: 520px;border-width: 0px;border: 1px solid #cccccc;border-bottom-color: #b3b3b3;border-radius: 0px;">
                            <span class="input-group-btn">
                              <button class="btn btn-default search-btn" type="button"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                    </div>
                  </form>
                </li>
              </ul> -->

              <ul class="navbar-nav mr-auto">
                <li class="nav-item">

                </li>
              </ul>

              <!-- Links -->
              <ul class="navbar-nav">
<!--                   <li class="nav-item active">
                        <a tabindex="0" class="nav-link col-md-1" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="Upload book" data-placement="bottom" href="<%=new_book_path%>"><i class="fa fa-plus" aria-hidden="true"></i></a>  
                  </li> -->

                 <!--  <li class="nav-item notification-bell">
                        <a class="nav-link" href="#">
                            <i class="fa fa-bell fa-fw"></i>
                        </a>
                  </li> -->

                   <li class="nav-item">
                     <!--  <a class="nav-link" href="<%=message_window_path%>">
                          <i class="fas fa-envelope fa-fw"></i>
                      </a> -->


                      <a class="nav-link" title="Incoming Messages" href="<%=message_window_path%>"><%= image_tag "sharp_message_white_18dp.png",style: 'margin-right: 14px;' %>
                        <%= BookMessage.unread_message_count_for_span(session[:user_id]).html_safe %>
                      </a>



                  </li>

                  


                <li class="nav-item">
                    
                </li>

                <!-- Dropdown -->
                  <li class="nav-item dropdown" style="cursor: pointer;">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<%=edit_profile_path%>"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        <!-- <a class="dropdown-item" href="<%=message_window_path%>"><i class="fa fa-envelope fa-fw"></i> My Messages</a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="<%=logout_path%>"><i class="fas fa-sign-out-alt"></i></i> Logout</a>
                    </div>
                  </li>

                  <li class="nav-item">
                    
                  </li>
                  
                  <%@user = session[:user_id].present? ?  User.find(session[:user_id]) : nil%>

                  <li class="nav-item" style="cursor: pointer;" title="<%=@user.name%>">
                    <%= image_tag @user.profile_pic.present? ? @user.profile_pic.url(:thumb) : "default-profile-image.png",class: 'rounded-circle profile-pic-thumbnail' %><%= @user.profile_complete_status(session[:user_id]).html_safe %>
                  </li>

              </ul>

              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul>


              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <% if !@user.check_profile_complete_status(session[:user_id]) %>
                    <%= link_to '<button type="button" class="btn btn-outline-danger">Submit Book</button>'.html_safe, new_book_path %>
                  <%else%>
                    <%= link_to '<button type="button" class="btn btn-outline-warning">Submit Book</button>'.html_safe, new_book_path %>
                  <%end%>
                </li>
              </ul>

              <!-- <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <= link_to '<button type="button" class="btn btn-outline-warning">Submit Ad</button>'.html_safe, new_book_ad_path %>
                  </li>
              </ul> -->
<!-- 
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">

                  </li>
              </ul> -->
            <!-- Links -->

          <!--     <form class="form-inline">
                  <div class="md-form mt-0">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  </div>
              </form> -->
          </div>
        <!-- Collapsible content -->

      </nav>


	</header>
	<!--Main Navigation-->

    <div class="container">
    	<%= yield %>
 	  </div>

    <a id="back-to-top" href="#" class="btn btn-primary btn-sm back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i></a>

    <a href="#" class="btn btn-primary btn-sm feedback-icon" role="button" title="Click to Provide Application Experience Feeback" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><%= image_tag "baseline_feedback_white_24dp.png" %></a>

    <div class="container">
      <% if !@user.check_profile_complete_status(session[:user_id]) %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 55%;float: right;top: 64px;">
        <strong>Hey <%= @user.name%>!</strong> Your Profile is incomplete,please complete it fast else<br> you will not be allowed to send a new request or Add new book.<br>
        <a class="link-color" href="<%=edit_profile_path%>"> Click here</a> to update your profile details.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%end%>
    </div>

    <!-- Button trigger modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content feedback-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= image_tag "feedback_brown1.jpeg",class: '',width: '770',height: '200' %>   
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="feedback-close-button" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag submit_feedback_path do %>
        <div class="form-group">
          <%if flash[:error]%>
            <div class="error_messages alert alert-danger"><%= flash[:error] %></div>
          <% end %>
          <%if flash[:success]%>
            <div class="error_messages alert alert-success"><%= flash[:success] %></div>
          <% end %>
        </div>
              <!-- <h3>Personal info</h3> -->

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Name</label><font color="#F8304D">*</font>
              <%= text_field_tag :name, params[:name], class: 'form-control'  %>
            </div>
            <div class="form-group col-md-6">
              <label>Email</label><font color="#F8304D">*</font>
              <%= text_field_tag :email, params[:email], class: 'form-control'  %>
            </div>
          </div>
          <div class="form-group">
            <label>Suggestion</label><font color="#F8304D">*</font>
            <%= text_area_tag :suggestion, params[:suggestion], class: 'form-control',:placeholder => "Write What you think need to be added more to improve the application."  %>
          </div>
      </div>
      <div class="modal-footer">
        <%= button_tag 'Send Suggestion', class: 'btn btn-primary float-left', 
            data: { disable_with: "<i class='fa fa-refresh f
      a-spin'>
            </i> Sending Suggestion..."} %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <%end%>
    </div>
  </div>
</div>

<!-- Modal -->
    
    <footer class="user-dashboard-footer">
        
<!--       <div class="search-text"> 
        <div class="container">
            <center>
             
               <div class="form">
                   <h4>SIGN UP TO OUR NEWSLETTER</h4>
                    <form id="search-form" class="form-search form-horizontal">
                        <input type="text" class="input-search" placeholder="Email Address">
                        <button type="submit" class="btn-search">SUBMIT</button>
                    </form>
                </div>
              </center>
            
            </div>         
        </div>     
    

          <div class="container" style="border-top:1px solid grey;">
            <center>  
                <div class="col-lg-6 col-lg-offset-3">
                      <ul class="menu">
                                 
                             <li>
                                <a href="#">Home</a>
                              </li>
                                   
                              <li>
                                 <a href="#">About</a>
                              </li>
                                   
                              <li>
                                <a href="#">Blog</a>
                              </li>
                                   
                              <li>
                                 <a href="#">Gallery</a>
                              </li>
                                   
                              <li>
                                <a href="#">Contact</a>
                             </li>
                   
                        </ul>
                </div>
            </center>
          </div> -->

        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                
              </div>
              <div class="col-md-9">
                <p><h6 class="footer-content">BOOK<font color="green">WORM</font> Copyright © 2018 All rights reserved</h6></p>
              </div>
            </div>

             
             
          </div>
        </div>
        
    </footer>



  </body>
</html>